@charset "ISO-8859-1";

.caixa {
	border: 2px solid #ffffff;
	/*padding: 5px;*/
	width: 90%;
	/*margin-bottom: 5px;*/
}

.radio {
    border: 1px solid #f1f2fc;
    border-radius: 15px;
    margin-left: 15px;
    padding: 5px;
    width: 48%;
    margin-bottom: 15px;
}

.direita {
	float: left;
	width: 48%;
}

.esquerda {
	width: 48%;
	float: left;
}

.centro {
	align-content: center;
}

.principal {
	padding: 10px;
}

fieldset legend {
	font-weight: bolder;
	border-bottom: 1px solid #c0c0c0;
	padding-top: 60px;
}

.container{
    width:400px;
    height:100px;
    background:gray;
}

.container > div {
    width: 32%;
    height: 50%;
    position: relative;
    float: left;
    border-left: 1px solid blue;
}

imagem.input[type="file"] {
  display: none;
}

/* css do percentual*/
label, input {
	position: relative;	
}

label::after {
	content: '' attr(unit);
	position: absolute;
	top: 7px;
	left: 53px;
	font-family: arial, helvetica, sans-serif;
	font-size: 19px;
	color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
}

/* Divs de valor e percentual */
.dirValor {
	float: left;
	width: 33%;
}

.esqValor {
	width: 33%;
	float: left;
}

.centValor {
	align-content: center;
}

/*input de valor do produto*/
#sugestaoVenda{
	height:35px; 
	width: 140px;
	font-size: 20px;
	color: red;
}

/*miniatura da imagem do produto para a list*/
img.miniaturaProduto{
	width: 100px;
}

/*valor de venda para a list*/
td.sugestaoVenda{
	color: red; 
	font-size: 22px; 
	font-style: oblique;
}

/*botão de busca para a list*/
#btnBusca {
	font-size:25px;
}

/*campo de busca para a list*/
.campoBusca {
	width: 48%;
	float: left;
	padding-bottom: 5px;
}

/*div contendo botões de ações da list*/
.btnAcoes{
	width: max-content;
}

/*preview de imagens de produto*/
img.preview {
	width: 150px; 
	/*height: 150px;*/
}

/*caixa de seleção para produto*/
select#selectDeProdutos {
	width: 170px; 
	height: 38px;
}

/*labels gerais*/
label{
	margin-top: 15px;
	font-size: 18px;
	color: navy;
}

/*labels vermelhos para produto*/
label#labelsProdutosValor{
	margin-top: 12px;
	color: maroon;
}

/*inputs vermelhos para valores*/
input#fieldsValor{
	width: 180px; 
	border-color: maroon;
	color: maroon;
	margin-left: 15px;
}

/*inputs médios normais*/
input#fieldsMedio{
	width: 180px; 
	margin-left: 15px;
}

/*inputs normais*/
input#fieldComum{
	margin-left: 15px;
}

/*inputs pequenos*/
input#fieldsPequenoData{
	margin-left: 15px;
	width: 60px;
	float: left;
}

/*inputs pequenos*/
input#fieldsPequeno{
	margin-left: 15px;
	width: 60px;
}

/*Conjuto de imputs para data*/
div.fieldsData{
	width: 92%;
	height: 100px;
}



