@charset "ISO-8859-1";

.caixa {
	border: 2px solid #ffffff;
	padding: 5px;
	width: 90%;
	margin-bottom: 5px;;
}

.radio {
	border: 1px solid #c0c0c0;
	border-radius: 15px;
	margin-left: 5px;
	padding: 5px;
	width: 40%;
	margin-bottom: 5px;;
}

.direita {
	float: left;
	width: 48%;
}

.esquerda {
	width: 48%;
	float: left;
}

.centro {
	align-content: center;
}

.principal {
	padding: 10px;
}

fieldset legend {
	font-weight: bolder;
	border-bottom: 1px solid #c0c0c0;
	padding-top: 60px;
}


.container{
    width:400px;
    height:100px;
    background:gray;
}

.container > div {
    width: 32%;
    height: 50%;
    position: relative;
    float: left;
    border-left: 1px solid blue;
}

imagem.input[type="file"] {
  display: none;
}

