@charset "ISO-8859-1";

.caixa{
	border: 2px solid #ffffff;
	padding: 5px;
	width: 90%;
	margin-bottom: 5px;;
}
.radio{
	border: 1px solid #c0c0c0;
	border-radius: 15px;
	margin-left: 5px;
	padding: 5px;
	width: 40%;
	margin-bottom: 5px;;
}

.direita{
	float: left;
	width: 48%;
}

.esquerda{
	width: 48%;
	float: left;
}

.principal{
	padding: 10px;
}

fieldset legend {
	font-weight: bolder;
	border-bottom: 1px solid #c0c0c0;
	padding-top: 60px;
	
}
